/* =============================
		TYPOGRAPHY
=============================== */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0 !important;
	line-height: 1;
	transition: all 0.3s ease-in-out;
}


// H1 BUILD
// =================
h1 {
	font-size: 3rem;
	
	//1280px
	@include respond-max( $l-laptop ) {
		font-size: 2.6rem;
	}
	
	//880px
	@include respond-max( $m-tablet ) {
		font-size: 2.2rem;
	}
	
	//600px
	@include respond-max($l-phone) {
		font-size: 1.8rem;
	}
	
	//480px
	@include respond-max($m-phone) {
		font-size: 1.3rem;
	}
	
}


// H2 BUILD
// ===========================
h2 {
	font-size: 2.6rem;
	
	//1280px
	@include respond-max( $l-laptop ) {
		font-size: 2.2rem;
	}
	
	//880px
	@include respond-max( $m-tablet ) {
		font-size: 2rem;
	}
	
	//600px
	@include respond-max($l-phone) {
		font-size: 1.4rem;
	}
	
	//480px
	@include respond-max($m-phone) {
		font-size: 1.2rem;
	}

}


// H3 BUILD
// ===========================
h3 {
	font-size: 2.2rem;
	
	//1280px
	@include respond-max( $l-laptop ) {
		font-size: 2rem;
	}
	
	//880px
	@include respond-max( $m-tablet ) {
		font-size: 1.6rem;
	}
	
	//600px
	@include respond-max($l-phone) {
		font-size: 1.4rem;
	}
	
	//480px
	@include respond-max($m-phone) {
		font-size: 1.2rem;
	}
}


// H4 BUILD
// ===========================
h4 {
	font-size: 1rem !important;
	
	//480px
	@include respond-max($m-phone) {
		font-size: 0.9rem !important;
	}
}


// H5 BUILD
// ===========================
h5 {
	
}



// H6 BUILD
// ===========================
h6 {
	font-size: 0.9rem;
}



//===========================================================================================



// X-TEXT STYLES - X-THEME
// ===========================

.x-text { 
	line-height: 1.5;	
	
	//600px
	@include respond-max($l-phone) {
		font-size: 0.85rem;
	}

	//Gray Variant
	//=======================
	&.-grey{

		> h1, h2, h3, h4,h5,h6, p{
			//color: $grey;
		}

	}

	//White Variant
	//=====================
	&.-white{

		> h1, h2, h3, h4, h5, h6, p{
			color: white;
		}

	}

}


//TEXT TITLE VARIATIONS
//==========================
.x-text {
	
	&._red-border-center {
		position: relative;
		
		h2 {
			margin-bottom: 20px;
		}
		
		&::after {
			content: '';
			background-color: $red;
			width: 98px;
			height: 5px;
			display: block;
			margin: 10px auto;
		}
	}
	
	&._red-border-left {
		position: relative;
		
		&::after {
			content: '';
			background-color: $red;
			width: 98px;
			height: 5px;
			display: block;
			margin: 10px auto 10px 0;
		}
	}
	
}




// TEXT WIDTHS
//========================
.x-text{
	
	&._max-1300 {
		max-width: em( 1300 );
	}
	
	&._max-1150 {
		max-width: em( 1150 );
	}
	
	&._max-960 {
		max-width: em( 960 );
	}
	
	&._max-880 {
		max-width: em( 880 );
	}
	
	&._max-800 {
		max-width: em( 800 );
	}
	
	&._max-720 {
		max-width: em( 720 );
	}
	
	&._max-680 {
		max-width: em( 680 );
	}
	
	&._max-520 {
		max-width: em( 520 );
	}
	
	&._max-480 {
		max-width: em( 480 );
	}
	
	
	&._center {
		margin-left: auto;
		margin-right:auto;
	}
	
	&._left {
		margin-left: 0;
		margin-right:auto;
	}
	
	&._right {
		margin-left: auto;
		margin-right:0;
	}
}