/* =============================
		HOME PAGE
=============================== */

#our-clients {
	
	.csl-carousel  {
	
		.owl-item {
						
			.item {
								
				img {
					width: 140px;
					height: 140px;
					border-radius: 100%;
					border: 1px solid $grey;
			 	}
			}
		}
	}
}



#awards-logos {
	
	.csl-carousel  {
	
		.owl-item {
						
			.item {
				background-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				padding: 0;
				
				img {
					margin-bottom: 0;
			 	}
			}
		}
	}

	.owl-carousel .owl-nav.disabled {
		display: none !important;
	}
	
}