/* =============================
		HOME PAGE
=============================== */

#awards-logos {
	
	.logo-col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.x-img {
 		margin-bottom: 15px !important;
		margin: 0 3%;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
}