/* =============================
	 PAGE HEADER STYLES
=============================== */

#home-hero {
	
}


#inner-hero {
	
}


#home-hero,
#inner-hero {
	
	.x-text {
		background-color: rgba(0,0,0, .48);
		border: 6px solid white;
		padding: 5% 4% 3%;
		
		h1 {
			margin-bottom: 20px;
		}
		
		> p {
			font-size: 1.1rem;
			line-height: 1.5;
		}
		
	}
}