/* =============================
	MAIN NAVIGATION STYLES
=============================== */

//LOGO
//=======================
.x-brand {
	
	@include respond-max( 979px ) {
		margin-top: 6px !important;
		
		img {
		   width: 108px !important;
	    }
	}
}


//NAVIGATION BAR
//========================
.x-navbar {
	border-top: 6px solid $red;
	
	@include respond-max( 979px ) {
		border-bottom: 0 !important;
	}
	
	.x-container {
		
		&.width {
			width:  95%;
		}
		
		&.max {
			max-width: 1700px;
		}
	}
	
	.x-nav {
		
		> li {
			text-align: center;
			
			> a {
				
				//1024px
				@include respond-max($hor-tablet) {
					padding-left: 20px !important;
					padding-right: 20px !important;
				}
				
				//480px
			    @include respond-max($m-phone) {
					font-size: 12px !important;
				}

				&:hover {
					box-shadow: none !important;
					transition: all 0.3s ease-in-out;
				}
			}
			
			&.request-quote-link {
				padding-left: 25px;
				
				//1024px
				@include respond-max($hor-tablet) {
					padding-left: 20px;
				}

				
				> a {
					padding-top: 0 !important;
					margin-top: 36px !important;
					height: auto !important;
					min-height: auto !important;
					background-color: $red;
					border-radius: 4px;
					color: white !important;
 					padding: 15px 10% 13px !important;
 					width: 200px;
 					display: block !important; 
					
					&:hover,
					&:focus {
						background-color: $blue;
					}
					
				}
			}
		}
	}
	
	.sub-menu {
		border-radius: 0;
		background-color: rgba(white, .85);
		top: 120px !important;
		left: 0 !important;
		right: auto !important;
		
		> li {
			border-bottom: 1px solid $l-grey;
			
			&:last-of-type {
				border-bottom: 0;
			}
			
			> a {
				font-size: 16px;
			}
		}
	}
	
	
	.x-navbar-inner {
		
		@include respond-max( 979px ) {
			height: inherit !important;
			min-height: 75px !important;
			transition: all 0.3s ease-in-out;
		}
	}
}



//Current active item
.current-menu-item > a,
.menu-item-has-children.x-active > a {
	box-shadow: none !important;
}








// ON SCROLL NAVIGATION BAR
//==============================

// LOGO
.x-brand-scroll {
	margin-top: 6px !important;
    transition: all 0.5s ease-in-out;
	 
    img {
	   width: 108px !important;
    }

}


// MENU / BAR
.x-navbar-scroll {
	
	.x-navbar-inner,
	.x-nav > li > a {
		height: 75px !important;
		min-height: 75px !important;
		transition: all 0.3s ease-in-out;
		
		@include respond-custom(max-width, 979px) {
			height: inherit !important;
			min-height: initial !important;
		}
	}
	
	
	.x-nav > li > a {
 		padding-top: 30px !important;
		
		@include respond-custom(max-width, 979px) {
			padding: inherit !important;
		}
	}
	
	.x-nav > li.request-quote-link {
			
		a {
			margin-top: 16px !important;
		}
		
	}
	
	.sub-menu {
		top: 75px !important;
	}
	
}