/* =============================
	   BASE BUTTON STYLES
=============================== */

//Primary Button
//==================
.x-btn {
	font-family: $font-title;
	text-shadow: none !important;
	box-shadow: none !important;
	text-transform: uppercase;
	border-radius: 4px !important;
	font-weight: 900;
	padding: 15px 8% 13px !important;
	letter-spacing: 0.03em;
	
	//600px
	@include respond-max($l-phone) {
		font-size: 0.85rem !important;
	}

	&:hover,
	&:focus {
		
	}
	
}

//Secondary Button
//====================
.x-btn.-secondary{
	background-color: $blue;
	border-color: $blue;
	
	&:hover,
	&:focus {
		background-color: $red;
		border-color: $red;
	}

}
