/* =============================
	  FEATURE BOX STYLES
=============================== */

.x-feature-box {
	
	.x-feature-box-title {
		margin-bottom: 1em;
	}
	
	.x-feature-box-text {
		font-size: 0.95rem;
		line-height: 1.4;
	}
}