/* =============================
	   BASE FORM STYLES
=============================== */

select, 
textarea,
input:focus, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	border: 1px solid #b9b9b9 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: $d-grey !important;
	height: 45px !important;
}

.gform_wrapper ul.gfield_checkbox li {
	
	input {
		height: auto !important;
	}
	
	label {
		font-size: 1rem;
	}
}




// Input fields
input[type="text"] {
	height: 40px;
	margin-bottom: 0 !important;
	
	@include respond-custom(max-width, 641px) {
		margin-top: 0 !important;
	}
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::-webkit-input-placeholder {
	color: $d-grey !important;
	font-size: 14px !important;
}


//Message area
textarea {
	font-size: 16px !important;
	line-height: 1.2 !important;
	padding: 8px !important;
	height: 180px !important;
}


.wpforms-form .wpforms-one-half {
	
	//480px
	@include respond-max( $m-phone ){
		width: 100% !important;
		float: none !important;
		margin: 0 !important;
		display: block !important;
		padding: 0 0 10px 0 !important;
	}
}

.wpforms-form .wpforms-field {
	
	//480px
	@include respond-max( $m-phone ){
		margin: 0 !important;
	}
}



//Gravity submit Button
//========================
.wpforms-submit,
input[type="submit"],
.button {
	@extend .x-btn;
	padding: 15px 8% 13px !important;
	background-color: $red !important;
	color: white !important;
	border-color: $red !important;
	
	&:hover,
	&:focus {
		background-color: $blue !important;
		border-color: $blue !important;
		border-radius: 4px !important;
	}

}




.wpforms-recaptcha-container,
.captcha {
	display: inline-block;
	float: left !important;
	
	@include respond-custom(max-width, 641px) {
		display: block;
		float: none !important;
		padding-bottom: 0 !important;
	}
}

.wpforms-submit-container,
.gform_wrapper .gform_footer {
	text-align: right;
	float: right !important;
	clear: right !important;
	margin-top: -4em !important;
	
	@include respond-custom(max-width, 641px) {
		text-align: left;
		float: none !important;
		clear: both !important;
		margin-top:  1em  !important;
	}
}

.wpforms-error {
	color: white !important;
}




//BREAKING INPUT FIELDS TO COLUMNS
//========================================

.gf_left_half {
	padding-right: 11px !important;
}

.gf_right_half {
	padding-left: 7px !important;
}


.gf_right_half,
.gf_left_half {
	
	@include respond-custom(max-width, 641px) {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}
}


.adjust-left,
.adjust-right {
	width: 48%;
	display: inline-block;
	margin-top: 0 !important;
	
	@include respond-custom(max-width, 641px) {
		width: 100%;
		display: block;
	}
	
	//480px
	@include respond-max( $m-phone ){
		width: 100%;
		display: block;
		margin-right: 0 !important;
	}
}


//Breaks input lists into a column - Left Side
.adjust-left {
	float: left;
	margin-right: 2% !important;
}



//Breaks input lists into a column - Right Side
.adjust-right {
		
}
