/* =============================
	  MODAL STYLES
=============================== */

.csl-teammember,
.cspplity  {
	
	.teammember-info,
	.teammember-bio-content {
		line-height: 1.3;
		margin-top: 10px;
		
		.teammember-name {
			font-family: $font-title;
			font-size: 1rem;
			color:  $red;
			font-weight: 900;
			text-transform: uppercase;
		}
		
		.teammember-title {
			color:  $grey;
			font-size: 0.85rem;
		}
	}
	
	.view-profile {
		font-family: $font-title;
		font-weight: 900;
		text-transform: uppercase;
		background-color: transparent !important;
		width: 100%;
		top: 40%;
		transform: translateY(-40%);
	}
}


//MODALS
//=================================
.cspplity.cspplity-teammember  {
	background-color: rgba($d-grey, .8) !important;
	
	.teammember-bio-container {
		box-shadow: none !important;
	}
	
	.t-close {
		background-color: $blue !important;
		border-radius: 4px;
		
		&:hover,
		&:focus {
			background-color: $red !important;
			transition: all 0.3s ease-in-out;
		}
	}
	
	.teammember-bio-container {
		
		@include respond-custom(max-width, 530px) {
			text-align: center;
			
			img {
				float: none;
				margin-right: 0;
			}
		}
	}
		
}
